{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/asignar_arrendatario.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Asignar Arrendatario</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="arrendatario">Selecciona el arrendatario</label>
            <select name="arrendatario" id="arrendatario" class="form-control" required>
                <option value="" disabled selected>Selecciona un arrendatario</option>
                {% for usuario in usuarios %}
                    <option value="{{ usuario.id }}">{{ usuario.get_full_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="submit-button">
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}
