{% extends 'base.html' %}
{% load static %}
{% block title %}Tus Publicaciones{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mis_inmuebles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Tus publicaciones</h1>
    {% for inmueble in inmuebles %}
    <div class="inmueble">
        {% if inmueble.imagenes.all %}
            <img src="{{ inmueble.imagenes.first.imagen.url }}" alt="Imagen del inmueble">
        {% else %}
            <img src="{% static 'images/load-default.jpg' %}" alt="Imagen no disponible">
        {% endif %}
        <div class="info">
            <h3>{{ inmueble.tipo_inmueble }} MXN {{ inmueble.precio }}</h3>
            <p>{{ inmueble.descripcion }}</p>
        </div>
        <div class="actions">
            <a href="{% url 'editar_inmueble' inmueble.id %}" class="btn-blue">Editar</a>
            <form method="post" action="{% url 'eliminar_inmueble' inmueble.id %}">
                {% csrf_token %}
                <button type="submit" class="btn-red">Eliminar</button>
            </form>
            <a href="{% url 'asignar_arrendatario' inmueble.id %}" class="btn-orange">Asignar Arrendatario</a>
        </div>
    </div>
    {% empty %}
    <p>No tienes publicaciones aún.</p>
    {% endfor %}
</div>
{% endblock %}
