<!-- listings/templates/perfil.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Mi perfil{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}

{% block content %}
    <div class="profile-container">
        <h1>Mi perfil</h1>

        <div class="field"><strong>Mi nombre:</strong> {{ user.first_name }}</div>
        <div class="field"><strong>Correo electrónico:</strong> {{ user.email }}</div>
        <div class="field"><strong>Contraseña:</strong> ********************</div>

        <div class="buttons">
            <a href="{% url 'editar_perfil' %}" class="button edit-button">Editar</a>
            <a href="{% url 'mis_inmuebles' %}" class="button properties-button">Mis inmuebles</a>
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="button logout-button">Cerrar sesión</button>
            </form>
        </div>
    </div>
{% endblock %}

